.App {
  text-align: center;
  color:white;
  background-color: blueviolet;
  width: 100%;
  height: 50px;
padding-top: 15px;
border-radius: 5px;
}
thead th{
  padding: 70px;
  
}
.my-table {
  border-collapse: collapse;
  width: 100%;
}
.my-table th,
.my-table td{
  border: 1px solid black;
  padding: 8px;
}
.button{
  color:black;
  background-color: gray;
  border-radius: 5px;
  text-align: center;
  margin-left: 250px;
  border: none;
  padding: 10px;

}

